<!DOCTYPE html>
<html>

<head>
	<title>DHBW Attendance List Application</title>
	<link rel="stylesheet" href="/assets/css/style.css" />
</head>

<body>
	<div class="content">
		<img id="logo" src="/assets/images/dhbw_mosbach_logo.png">

		<div id="success">
			<p>Gives access to the following location:</p>
			<p id="loc">{{.}}</p>

			<div id="qr">
				<img src="" id="qrcode" alt="">
			</div>

			<p>Scan the code to access the attendance formular.</p>
			<p>If there are any issues contact the EDV department of the DHBW Mosbach.</p>
		</div>
		<div id="error" hidden="true">
			<p><strong>Server currently unavailable.</strong></p>
			<p id="countdown"></p>
		</div>
	</div>

	<script type="text/javascript" src="/assets/js/ajax.js"></script>
</body>

</html>