<!DOCTYPE html>
<html>

<head>
	<title>DHBW Attendance List Application</title>
	<link rel="stylesheet" href="/assets/css/style.css" />
</head>

<body>
	<div class="content">
		<img id="logo" src="/assets/images/dhbw_mosbach_logo.png">

		<p><strong>FAQ</strong></p>

        <div>
            <p class="question">Why I get the login formular, but I wanted to logout?</p>
            <p>
                A login request stores a cookie in your browser which identifies you to the service.
                This avoids that your personal data must be stored on the server. In some cases, the
                cookie get lost or was modified, so the server can't recognize you. If you wanted to
                log out, fill in the login form and perform a second login. Afterwards try a logout
                (reload the page). Now you should get the successfully logout message. If it still
                doesn't work, don't worry. At the end of a day, the service detects that you're
                still logged in and logs you out automatically. 
            </p>
        </div>
	</div>
</body>

</html>