/* General style */
html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
  
body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    background-color: #5c6971;
}
  
.content {
    background-color: white;
    box-shadow: 1px 1px 30px 1px #46535b;

    border-radius: 0.5em;
    text-align: center;
    max-width: 640px;
    width: 90%; 
    
    margin: 2em auto;
    padding: 3em;
}

#logo {
    text-align: center;
    padding: 1em;
    width: 24em;
}

#qr {
    box-shadow: 1px 1px 30px 1px #bbbbbb;
    border-radius: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16em;
    height: 16em;

    margin: 2em auto;
}

#qrcode {
    border-radius: 0.5em;
    width: 100%;
}

#loc {
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    font-weight: bold;
    line-height: 1.5em;
}

form {
    box-shadow: 1px 1px 30px 1px #bbbbbb;
    border-radius: 0.5em;
    padding: 1.0em 0.5em;
    margin: 2.0em 0;
}

input {
    width: 100%;
    border: 1px solid #bbbbbb;
    border-radius: 0.4em;
    padding: 0.5em;
}

input:focus {
    outline: none;
    border-color: #5c6971;
}

input[type=submit] {
    color: white;
    background-color: #5c6971;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover, input[type=submit]:focus {
    background-color: #778892;
}

.row {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    padding: 0.4em;
}

.col-25 {

    width: 25%;
}

.col-50 {
    width: 50%;
}

.col-75 {
    width: 75%;
}

.col-100 {
    width: 100%;
}

.col-25,
.col-50,
.col-75,
.col-100 {
    padding: 0 0.2em;
}



/* Mobile Style */
@media screen and (max-width: 980px) {
    html, body {
        font-size: 95%;
    }
}

@media screen and (max-width: 550px) {
    html, body {
        font-size: 90%;
    }

    #main ul li {
        display: block;
        text-align: center;
    }
}